.project {
  display: grid;
  align-items: center;
  padding: 1.5rem 2rem;
  height: 8rem;
  line-height: 1.2;
  border: 1px solid var(--dark-text);
}

@media only screen and (max-width: 800px) {
  .project {
   padding: 1.5rem 1rem;
  }
}

.project-title {
  color: var(--text);
  font-size: 1.5rem
}

.project-merits {
  font-size: 0.7rem;
  color: var(--dark-text);
}

.project-description {
  color: var(--dark-text);
}
