@import "../../colors/mrt.css";

.notes-entries, .blog-entries {
  width: 100%;
  display: grid;
  gap: 1rem;
	transition: all 1s;
}

.notes-entries {
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}

.blog-entries {
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}

.AP {
  color: var(--cr);
}

.A {
  color: var(--cc);
}

.AM {
  color: var(--ns);
}

.BP {
  color: var(--ns);
}