.navigation {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #202020;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.logo {
  height: 40px;
  margin-left: 2rem;
}

.name {
  text-decoration: none;
  color: #EEE;
  font-size: 1.3rem;
  margin-left: 2rem;
}

.navigation-menu {
  margin-left: auto;
}

  .navigation-menu ul {
    display: flex;
  }

  .navigation-menu li {
    list-style-type: none;
    margin: 0 2rem;
    align-items: center;
  }

  .navigation-menu li a {
    color: #999;
    text-decoration: none;
    display: block;
    width: 100%;
  }

  .navigation-menu li a:hover {
    color: #eee;
  }

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #202020;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

.hamburger:hover {
  background-color: #303030;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navigation-menu ul {
    display: none;
    position: absolute;
    top: 64px;
    left: 0px;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #202020;
    border-top: 1px solid #999;
    padding: 0;
  }

  .navigation-menu.expanded ul {
    display: block;
  }

  .navigation-menu li {
    text-align: center;
  }

  .navigation-menu li a {
    color: #999;
    width: 100%;
    padding: 1.5rem 0;
  }
  .navigation-menu li:hover {
    background-color: #333;
  }
}