@import '/src/assets/colors/mrt.css';

.desc-link.home {
  color: var(--lrt);
}

.desc-link.home:hover {
  color: var(--lrt-dark);
}

.desc-link.projects {
  color: var(--ew);
}

.desc-link.projects:hover {
  color: var(--ew-dark);
}

.desc-link.merits {
  color: var(--ns);
}

.desc-link.merits:hover {
  color: var(--ns-dark);
}

.desc-link.blog {
  color: var(--ne);
}

.desc-link.blog:hover {
  color: var(--ne-dark);
}

.desc-link.no-category {
  color: black;
}

.desc-link.no-category:hover {
  color: #444;
}