.micro-icon {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
}

.macro-icon {
  width: 14rem;
  height: 14rem;
  object-fit: contain;
}

.mega-icon {
  width: 24rem;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}