@import '/src/assets/colors/mrt.css';

.micro-icon {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
}

.macro-icon {
  width: 14rem;
  height: 14rem;
  object-fit: contain;
}

.icon-container.home {
  border: 0.5rem solid var(--lrt);
}

.icon-container.projects {
  border: 0.5rem solid var(--ew);
}

.icon-container.merits {
  border: 0.5rem solid var(--ns);
}

.icon-container.blog {
  border: 0.5rem solid var(--ne);
}

.mega-icon {
  width: 32rem;
  max-width: 100%;
  object-fit: contain;
}