.experience {
  display: grid;
  align-items: center;
  padding: 1.5rem 2rem;
  height: 8rem;
  line-height: 1.2;
  border: 1px solid var(--dark-text);
}

.experience-title {
  color: var(--text);
  font-size: 1.5rem
}

.experience-organization {
  color: var(--dark-text);
}

.experience-description {
  color: var(--dark-text);
}