@import '/src/assets/colors/mrt.css';

article.projects:hover {
  background-color: var(--ew-v-light);
}

article.projects { 
  border: 1px solid var(--ew);
}

h3.projects {
  color: var(--ew);
}

h3.projects a {
  color: var(--ew);
}