@import '/src/assets/colors/mrt.css';

.merit:hover {
  background-color: var(--dt-v-light);
}

.starred:hover {
  background-color: var(--cc-v-light);
}

.preview {
  height: 5rem;
}

.preview-lg {
  height: 8rem;
}