@import '/src/assets/colors/mrt.css';

article.merits:hover {
  background-color: var(--ns-light);
  color: white;
}

article.merits {
  border: 1px solid var(--ns);
}

h3.merits {
  color: var(--ns);
}

h3.merits a {
  color: var(--ns);
}