@import '/src/assets/colors/mrt.css';

article.blog:hover {
  background-color: var(--ne-light);
  color: white;
}

article.blog {
  border: 1px solid var(--ne);
}

h3.blog {
  color: var(--ne);
}

h3.blog a {
  color: var(--ne);
}