@import "./colors/main.css";
@import "./colors/mrt.css";

.App {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--back);
  color: var(--text);
  font-family: Raleway;
  font-size: 1rem;
  padding-bottom: 5rem;
}

.content-container {
  display: grid;
  place-items: center;
}

.content-section {
  display: flex;
  place-items: center;
  width: min(90%, 1000px);
}

@media only screen and (max-width: 1000px) {
  content-section {
    width: 95%;
  }
}

.content-section > * {
  margin: 3rem 0;
  display: grid;
  place-items: center;
}

.page {
  width: 100%;
}

h2 {
  width: 100%;
  font-family: Droid Sans Mono;
  color: var(--je);
}

a {
  text-decoration-color: var(--dark-text);
  color: white;
}

a:hover {
  text-decoration-color: var(--je);
  color: var(--je);
}

star {
  color: var(--cc);
}
