$success: #009645;
$danger: #D42E12;
$warning: #FA9E0D;
$secondary: #9D5B25;
$info: #0099AA;
// $light: #F7F3E3;
// $light: #FFF5E7;
$light: #F5EFE9;
$dark: #272727;

@import 'node_modules/bootstrap/scss/bootstrap';
@import url("https://fonts.googleapis.com/css?family=Poppins:400,300,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,300,700");

body {
  margin: 0;
  background-color: $light;
  line-height: 1;
  font-family: 'Poppins', 'Raleway', 'Ubuntu', 'Fira Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
